<div id=<%= dom_id competition %> class="ui form">
  <div class="eight wide field">
    <label>Name:</label>
    <div class="disabled field"><%= competition.name %></div>
  </div>

  <div class="eight wide field">
    <label>Sport:</label>
    <div class="disabled field"><%= competition.sport %></div>
  </div>

  <div class="eight wide field">
    <label>Start date:</label>
    <div class="disabled field"><%= competition.start_date %></div>
  </div>

  <div class="eight wide field">
    <label>End date:</label>
    <div class="disabled field"><%= competition.end_date %></div>
  </div>

  <div class="eight wide field">
    <label>Venue:</label>
    <div class="disabled field"><%= competition.venue %></div>
  </div>

  <div class="eight wide field">
    <label>Manager:</label>
    <div class="disabled field"><%= competition.manager %></div>
  </div>

</div>
