<p style="color: green"><%= notice %></p>

<h1>Competitions</h1>

<div id="competitions">
  <table class="ui blue table">
    <thead>
      <tr>
        <th class="three wide">Name</th>
        <th class="three wide">Sport</th>
        <th class="two wide">Start Date</th>
        <th class="two wide">End Date</th>
        <th class="two wide">Venue</th>
        <th class="two wide">Manager</th>
        <th class="one wide"></th>
      </tr>
    </thead>
    <tbody>
      <% @competitions.each do |competition| %>
        <tr>
          <td><%= link_to competition.name, competition %></td>
          <td><%= competition.sport %></td>
          <td><%= competition.start_date %></td>
          <td><%= competition.end_date %></td>
          <td><%= competition.venue %></td>
          <td><%= competition.manager %></td>
          <td><%= button_to('Delete', competition, method: :delete, class: "ui red small button" ) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />
<%= link_to "New Competition", new_competition_path, class: "ui small green button" %>
